<article class="hentry">
  <div class="entry-header">
    <h1>Change Page</h1>
  </div>
  <div class="entry-content">
    <!--<form action="/pages/create" method="post">-->
    <!--<input name="name" placeholder="Enter new page name" type="text">-->
    <!--<input name="path" placeholder="Enter path" type="text">-->
    <!--<input type="submit">-->
    <!--</form>-->
    <%= form_tag("/pages/#{params[:id]}", method: "put") do %>
        <%= text_field_tag(:title, @page.title, placeholder: 'Enter new page name') %>
        <%= text_field_tag(:path, @page.path, placeholder: 'Enter path') %>
        <%= submit_tag("Submit") %>
    <% end %>
  </div>
</article>