<article class="hentry">
  <div class="entry-header">
    <h1>
      <h1>
        <div id="title" contenteditable="true">
          Title
        </div>
      </h1>
    </h1>
  </div>
  <div class="entry-content">
    <input id="showDateBox" type="checkbox" checked>
    <label for="showDateBox">Show Creation Date</label>
  </div>
  <div id="body" class="entry-content" contenteditable="true">
    This is a content test
  </div>
</article>

<article class="hentry">
  <div class="entry-content">
    <button id="publishBtn">Publish</button>
  </div>
</article>